<h1 class="display-6">Einstellungen</h1>
<div class="alert alert-dark" role="alert">
  Bitte den Pfad zur Star Citizen Installation angeben.<br/>
  Beispiel: <span>C:\Program Files\Roberts Space Industries\StarCitizen\LIVE</span>
</div>
<div class="mb-3">
  <label for="path" class="form-label">Installationspfad</label>
  <input type="text" class="form-control" id="apppath" value="" disabled>
</div>
<div class="mb-3">
  <button type="button" class="btn btn-sm btn-info" id="getpath">auswählen</button>
  <button type="button" class="btn btn-sm btn-success" id="savepath">speichern</button>
</div>