<h1 class="display-6">Schiffsuche</h1>
<div class="mb-3">
    <label for="ship_search" class="form-label">Suche</label>
    <input type="text" class="form-control" id="ship_search" placeholder="Schiffname" onkeydown="searchShip(this.value);">
</div>
<div id="search_result">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Hersteller</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody id="ship_search_body"></tbody>
        </table>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p id="ship_title" class="card-title h5 d-block text-darker"></p>
                <p id="ship_desc" class="card-description mb-4"></p>
                <div id="ship_prices" class="row">
                    <h6>Kauf/Mietpreise</h6>
                </div>
            </div>
        </div> 
    </div>
</div>