@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: clamp(70%, 0.5vw + 0.5vh, 100%);
}

/* Fallback for different window sizes */
@media (min-height: 900px) {
    html {
        font-size: 80%;
    }
}

@media (min-height: 1000px) {
    html {
        font-size: 90%;
    }
}

@media (min-height: 1200px) {
    html {
        font-size: 100%;
    }
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/img/MadeByTheCommunity_black.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    opacity: 0.1;
    z-index: -1;
}

#background2 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 5%, rgba(45, 12, 232, 1) 77%, rgba(218, 220, 227, 1) 100%);
    z-index: -1;
}